html {
  font-family: -apple-system, PingFang SC, Helvetica Neue, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  height: 100%;
  /* HACK: >= iOS 11 make body at least 100vh height to avoid tap highlight */
  min-height: 100vh;
}

/*
 * Correct the page font-size
 */
body {
  font-size: 16px;
}

/**
 * Unknown html element is inline by default, normalize to block;
 */
a-page {
  display: block;
}
