.item {
  height: 87;
  flex-direction: row;
  flex: 1;
  background-color: #fff;
  border-top-color: #DEDEDE;
  border-bottom-color: #DEDEDE;
  align-items: center;
  border-bottom-width: 1;
}

.img {
  height: 50;
  width: 50;
  margin-left: 30;
  margin-right: 36;
}

.forward {
  height: 32;
  width: 32;
  margin-right: 26;
}

.text {
  font-size: 33;
}
