.container {
  height: 100%;
  flex: 1;
  background-color: #EFEFF6;
}

.search {
  height: 88;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.searchBtn {
  height: 52;
  border-color: #DEDEDE;
  border-width: 1;
  border-radius: 8;
  flex: 1;
  background-color: #fff;
  margin-left: 14;
  margin-right: 14;
  justify-content: center;
}
