
/* global */
.bottom{
  height: 12;
  background-color: rgb(238, 238, 238);
}

/* header search */
.header {
  height: 74;
  background-color: #FE5400;
  display: 'flex';
  justifyContent: 'center';
  flexDirection: 'row';
}
.headerIcon {
  height: 40;
  width: 54;
  margin-top: 15;
  margin-right: 11;
}
.headerPlaceholder {
  width: 661;
  height: 50;
  line-height: 30;
  background-color: #B52600;
  border-radius: 8;
  margin-top: 12;
  margin-right: 5;
  display: 'flex';
  justifyContent: 'center';
  flexDirection: 'row';
}
.headerPlaceholderIcon {
  color: #F0E0DC;
  margin-top: 10;
  margin-right: 8;
  font-size: 26;
}
.headerPlaceholderText {
  color: #F0E0DC;
  font-size: 26;
  margin-top: 10;
}

/* top slider */
.slider {
  width: 750;
  position: 'relative';
  overflow: 'hidden';
  height: 235;
  background-color: '#cccccc'
}
.sliderItemWrap {
  width: 750;
  height: 235
}
.sliderImage {
  width: 750;
  height: 235
}
.sliderPaginationStyle {
  position: 'absolute';
  width: 240;
  height: 20;
  bottom: 20;
  right: 0;
  item-color: 'rgba(255, 255, 255, 0.5)';
  item-selected-color: 'rgb(255, 80, 0)';
  item-size: 13
}

/* app list */
.appList {
  height: 344;
  width: 700;
  margin-left: 25;
}
.appItem {
  height: 160;
  text-align: center;
}
.appIcon {
  height: 84;
  width: 121;
  margin-top: 24;
  margin-left: 10;
  margin-bottom: 9;
}
.appName {
  text-align: center;
  font-size: 24;
  color: 'rgb(102, 102, 102)';
}

/* toutiao */
.toutiao {
  display: 'flex';
  justifyContent: 'center';
  flexDirection: 'row';
  border-top-color: rgb(232, 232, 232);
  border-top-width: 1px;
  height: 70;
  margin-bottom: 12;
}
.toutiaoLogoBox {
  width: 163;
  height: 56;
  margin-top: 13;
  border-right-color: rgb(232, 232, 232);
  border-right-width: 1px;
}
.toutiaoLogo {
  width: 130;
  height: 37.7;
  margin-top: 13;
  margin-left: 15;
}
.toutiaoTip {
  width: 63;
  height: 35;
  line-height: 30;
  font-size: 26;
  color: rgb(216, 20, 33);
  border-width: 1px;
  border-color: rgb(216, 20, 33);
  border-radius: 10;
  margin-left: 21;
  margin-right: 12;
  margin-top: 21;
  padding-left: 3;
  padding-right: 3;
}
.toutiaoText {
  font-size: 27;
  margin-top: 27;
  width: 485;
  line-height: 25;
}

/* vertical */
.vertical {
  display: 'flex';
  justifyContent: 'center';
  flexDirection: 'row';
}
.taoqianggou {
  width: 277.5;
  border-right-width: 1;
  border-right-color: rgb(240, 240, 240);
}
.taoqianggouImage {
  width: 277.5;
  height: 378.5;
}
.verticalGroup {
  width: 464;
}
.verticalGroupImageLine1 {
  width: 228;
  height: 173;
}
.verticalGroupImageLine2 {
  width: 228;
  height: 200;
}
.verticalGroupBox3 {
  border-top-width: 0.5;
  border-top-color: rgb(240, 240, 240);
}
.verticalGroupBox4 {
  border-top-width: 0.5;
  border-top-color: rgb(240, 240, 240);
  border-left-width: 1;
  border-left-color: rgb(240, 240, 240);
}

/* banner */
.banner{
  width: 750;
  height: 150;
}

/* like list */
.likeListHeader {
  height: 110;
  background-color: rgb(238, 238, 238);
}
.likeListHeaderTitle{
  text-align: center;
  color: rgb(51, 51, 51);
  font-size: 28;
  margin-top: 25;
  margin-bottom: 5;
  height: 30;
  line-height: 30;
}
.likeListHeaderText{
  text-align: center;
  color: rgb(120, 120, 120);
  font-size: 24;
}
.likeListItem {
  height: 500;
  margin-bottom: 8;
}
.likeListImage {
  width: 371;
  height: 335.5;
}
.likeListTitle {
  margin-top: 14;
  margin-bottom: 14;
  margin-left: 23.5;
  margin-right: 23.5;
  font-size: 24;
  color: rgb(102, 102, 102);
  text-overflow: ellipsis;
}
.likeListPrice {
  color: rgb(255, 80, 0);
  font-size: 32;
  margin-left: 22;

}

/* bar */
.bottomBar {
  height: 86;
}
.bottomBarIcon {
  text-align: center;
  font-size: 44;
  color: #5D656B;
  margin-top: 5;
}
.bottomBarText {
  text-align: center;
  font-size: 20;
  color: #5D656B;
  line-height: 22;
}

