.tabBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 98rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1rpx solid #eee;
  background-color: #fff;
}

.tabBarItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabBarItem_txt {
  font-size: 24rpx;
}

.tabBarItem_img {
  margin-bottom: 8rpx;
  width: 30rpx;
  height: 30rpx;
} 
