.item {
  height: 140;
  flex-direction: row;
  flex: 1;
  background-color: #fff;
  border-color: #dedede;
  border-style: solid;
  align-items: center;
}

.itemContent {
  flex-direction: row;
  flex: 1;
  border-top-color: #DEDEDE;
  border-bottom-color: #DEDEDE;
  align-items: center
}

.header {
  height: 98;
  width: 98;
  margin-left: 20;
  margin-right: 26;
  border-radius: 8;
}

.text {
  font-size: 33;
}
