.item {
  height: 135;
  flex-direction: row;
  flex: 1;
  background-color: #fff;
  border-color: #dedede;
  border-style: solid;
}

.itemContent {
  flex-direction: row;
  flex: 1;
  border-top-color: #DEDEDE;
  border-bottom-color: #DEDEDE;
  align-items: center
}

.header {
  height: 102;
  width: 102;
  margin-left:20;
  margin-right:26;
  border-radius: 8;
}

.time {
  margin-top: 24;
  margin-right: 24;
}

.timeText {
  font-size: 24;
  color: #7A7A7A;
}

.text {
  font-size: 33;
}

.contentText {
  color: #7A7A7A;
  margin-top: 16;
  font-size: 24;
}
