.home {
  align-items: center;
  margin-top: 30rpx;
}

.logo {
  width: 200rpx;
  height: 180rpx;
  margin-bottom: 20rpx;
}

.title {
  font-size: 45rpx;
  font-weight: bold;
  margin: 20rpx 0;
}

.box {
  flex-direction: row;
}

.info {
  font-size: 42rpx;
}

.btn {
  margin-bottom: 20rpx;
}
