.container {
  width: 750;
  flex: 1;
  height: 100%;
  background-color: #EFEFF6;
}

.group {
  margin-top: 40;
  border-top-width: 1;
  border-top-color: #dedede;
}

.item {
  height: 176;
  flex-direction: row;
  flex: 1;
  background-color: #fff;
  border-top-color: #DEDEDE;
  border-bottom-color: #DEDEDE;
  align-items: center;
  border-top-width: 1;
  border-bottom-width: 1;
  margin-top: 30;
}

.img {
  height: 134;
  width: 134;
  margin-left: 26;
  margin-right: 26;
  border-width: 1;
  border-color: #DEDEDE;
  border-radius: 8;
}

.qrImg {
  height: 34;
  width: 34;
  margin-right: 8;
}

.forward {
  height: 32;
  width: 32;
  margin-right: 26;
}

.text {
  font-size: 34;
}
